@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}
html{
    position: relative;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #ece1d2;
}

body::-webkit-scrollbar{
    width: 0;
}


/* PHAN HEADER --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.header{
    width: 100%;
    padding: 0px;
    z-index: 89;
}

.header .nav-bar{
    display: flex;
    background-color:#131c30;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
    justify-content: space-between;
}

.corner-logo{
    width: 110px;
}

.search-bar{
    position: absolute;
    width: 55%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap:0;
}


.search-bar input{
    padding: 12px 15px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    position: relative;
}


.search-bar-icon{
    color:black;
    font-size: 19px;
    padding: 11px;
    position: absolute;
    top:0;
    right:0;
}


.header-icon-btn{
    display: flex;
    flex-direction: row;
    gap: 40px;
    user-select: none;
	-webkit-user-select: none;
}

.header-icon-btn .fa-solid{
    font-size: 21px;
    color: #ffb700;
    cursor: pointer;
}

.header-icon-btn .fa-cart-shopping:hover,
.header-icon-btn .fa-user:hover,
.header-icon-btn .fa-house:hover{
    color: #c99103;
}


/* ICON CART BTN */

.icon-cart-container .icon-cart{
    position: relative;
}

.icon-cart-container .icon-cart span{
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: red;
    position: absolute;
    top:-50%;
    right:-10px;
    font-family: "roboto";
}

.header-icon-btn .cartTab{
    width: 450px;
    background-color: #ffffff;
    border-left: 1px solid #b6b6b694;
    color: #fff;
    position: fixed;
    top:10px;
    right:10px;
    bottom: 10px;
    inset: 10px -450px 10px auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    z-index: 99;
    transition: .5s;
    border-radius: 15px;
}

body.showCart .cartTab{
    inset: 10px 10px 10px auto;
}


.header-icon-btn .cartTab .cartTab-upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}



.header-icon-btn .cartTab h1{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #131c30;
}

.header-icon-btn .cartTab .cartTab-upper .close-cartTab-btn i{
    color: black;
    font-size: 25px;
    user-select: none;
    cursor: pointer;
}

.header-icon-btn .cartTab .cartTab-upper .close-cartTab-btn i:hover{
    color: rgba(121, 121, 121, 0.863);
}


.header-icon-btn .cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button{
    border: none;
    font-family: "oswald","san-seriff";
    font-weight: 500;
    cursor: pointer;
}

.cartTab .btn .close{
    background-color: #ececec;
    border-radius: 0 0 0 15px;
}
.cartTab .btn .close:hover{
    background-color: #dadada;
}

.cartTab .btn .checkOut{
    background-color: #ffb700;
    border-radius: 0 0 15px 0;
}
.cartTab .btn .checkOut:hover{
    background-color: #d49800;
}

.listCart{
    overflow: auto;
    padding: 10px;
}

.listCart::-webkit-scrollbar{
    width: 0;
}

.cartTab .listCart .item img{
    width: 100%;
    border-radius: 5px;
}

.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 190px 40px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    padding: 10px 0;
    cursor:pointer;
}

.listCart .name{
    font-family: "roboto";
    color: black;
}

.listCart .totalPrice{
    font-family: "roboto";
    color: black;
}


.listCart .quantity span{
    font-family: "roboto";
    display: inline-block;
    padding: 3px 7px;
    background-color: rgba(122, 122, 122, 0.384);
    color: #555;
    border-radius: 5px;
    cursor: pointer;
}

.listCart .quantity span i{
    font-size: 12px;
    color: black;
}
.listCart .quantity span:hover{
    background-color: rgba(122, 122, 122, 0.658);
}



.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: black;
}

.listCart .item:nth-child(even){
    border-top: 1px solid rgba(172, 172, 172, 0.24);
    border-bottom: 1px solid rgba(172, 172, 172, 0.24);
}







@keyframes MoveInScale{
    0%{
        transform: scale(60%);
        opacity: 20%;
    }

    100%{
        transform: scale(1);
    }
}

@keyframes MoveOutScale{
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(50%);
        opacity: 40%;
    }
}




@keyframes MoveInRight{
    0%{
        transform: translateX(300px);
    }


    100%{
        transform: translateX(0);
    }
}


@keyframes MoveOutRight{
    0%{
        transform: translateX(0);
    }
    
    100%{
        transform: translateX(600px);
    }
}


/* USER_BTN */
.header-icon-btn #user-btn{
    position: relative;
}


.header-icon-btn .user-menu-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 320px;
    top: 37px;
    right: -20px;
    z-index: 3;
    background-color:white;
    border: 1px solid rgba(173, 173, 173, 0.747);
    border-radius: 10px;
    animation: MoveInScale 0.4s;
    display: none;
}

.header-icon-btn .user-menu-container .user-heading-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-icon-btn .user-menu-container .user-menu-heading{
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-left: 20px;
    color: #131c30;
}

.header-icon-btn .user-menu-container .user-menu-heading .fa-user{
    margin-right: 10px;
    color: #131c30;
}




.header-icon-btn .user-menu-container .user-heading-container a .fa-xmark{
    color: black;
    padding:20px;
    font-size: 25px;
    user-select: none;
	-webkit-user-select: none;
}

.header-icon-btn .user-menu-container .user-heading-container a .fa-xmark:hover{
    color: rgb(124, 124, 124);
}






.header-icon-btn .user-menu-container .user-option{
    padding: 15px 20px;
    border-bottom: 1px solid rgb(216, 216, 216);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.header-icon-btn .user-menu-container .user-option:hover{
    background-color: rgb(244, 244, 244);
}

.header-icon-btn .user-menu-container .user-option:hover:last-child{
    border-radius: 0 0 10px 10px;
}



.header-icon-btn .user-menu-container .user-option a{
    color: black;
    user-select: none;
	-webkit-user-select: none;
}

.header-icon-btn .user-menu-container .user-option .language{
    display: flex;
    flex-direction: column;
    text-align: center;
    display: none;
    margin-top: 20px;
    animation: MoveInScale 0.5s;
}

#arrow-icon{
    margin-left: 5px;
    font-size: 8px;
}

.header-icon-btn .user-menu-container .user-option .language li{
    padding: 10px 0;
}

.header-icon-btn .user-menu-container .user-option:last-child{
    margin-bottom: 0;
    margin-top: 50px;
    border-bottom: none;
}


.header-icon-btn .user-menu-container .log-out-btn  {
    text-align: center;
    user-select: none;
	-webkit-user-select: none;
}

.header-icon-btn .user-menu-container li .fa-right-from-bracket{
    color: #131c30;
    font-size: 17px;
    margin-right: 10px;
}




.header-icon-btn .user-menu-container li{
    list-style: none;
}

.header-icon-btn .user-menu-container li a{
    text-decoration: none;
}



/* ADDRESS BAR - PC */


.header .head-address-bar{
    width: 100%;
    padding: 15px 40px;
    background-color: #ffb700;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
}

.header .head-address-bar .left-address{
    display: flex;
    align-items: center;
}

.header .head-address-bar .left-address p{
    font-size: 16px;
}



.header .head-address-bar .fa-solid{
    color: black;
    font-size: 25px;
}

.header .head-address-bar .left-address .fa-location-dot{
    margin-right: 15px ;
}



/* CONTENT - PC */
.content{
    width: 100%;
    height: 100svh;
    padding-top: 25px;
    background-color: #ece1d2;
}



/* CONTENT - ADVERTISEMENT - PC */

.ads-widget-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.advertisement-slide-container{
    width: 60vw;
    height: 25vw;
    position: relative;
    user-select: none;
	-webkit-user-select: none;
}
.myAdsSwiper{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    user-select: none;
	-webkit-user-select: none;
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
	-webkit-user-select: none;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    user-select: none;
	-webkit-user-select: none;
}


.ads-swiper-button-next{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 15px;
    z-index: 40;
    cursor: pointer;
}

.ads-swiper-button-next .fa-angle-right{
    color: #FFF;
    font-size: 40px;
}


.ads-swiper-button-next .fa-angle-right:hover{
    color: #e6e6e6cc;
}

.ads-swiper-button-prev{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 15px;
    z-index: 40;
    cursor: pointer;
}

.ads-swiper-button-prev .fa-angle-left{
    color: #FFF;
    font-size: 40px;
}

.ads-swiper-button-prev .fa-angle-left:hover{
    color: #dbdbdbcc;
}

.advertisement-slide-container  .swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.advertisement-slide-container .swiper-pagination-bullet-active{
    background-color: rgb(255, 255, 255) !important;
}

.advertisement-slide-container .swiper-pagination{
    bottom: 2px !important;
}

.advertisement-slide-container .swiper-pagination-bullet {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 4px !important;
    border-radius: 50%;
}

/* CONTENT - WIDGET - PC */

.main-wth-widget{
    font-family: "Oswald", sans-serif;
    width: 20vw;
    background: transparent;
    border-radius: 15px;
    padding: 0px;
    user-select: none;
	-webkit-user-select: none;
}

.main-wth-widget form{
    width: 18vw;
    height: 25vw;
    padding: 20px 20px;
    background-color: #1f4e48;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: #fff;
}

.main-wth-widget form .weather-search-container{
    width: 100%;
    position: relative;
}

.main-wth-widget form input{
    width: 100%;
    border: 1px solid #5553;
    padding: 13px 10px;
    border-radius: 5px;
}

.main-wth-widget form .fa-magnifying-glass{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    opacity: 40%;
    color: #000;
}

.main-wth-widget form figure{
    margin-top: 10px;
    position: relative;
}

.main-wth-widget form figure .flag-logo{
    position: absolute;
    top: 25px;
    left:50%;
    transform: translateX(-50%);
}

.main-wth-widget .result{
    /* padding-top: 20px; */
    text-align: center;
}

.main-wth-widget .result{
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main-wth-widget .temperature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main-wth-widget .temperature img{
    margin-top: 20px;
    width: 130px;
    filter: drop-shadow(0 10px 80px #000);
}

.main-wth-widget .temperature figcaption{
    font-size: 25px;
}

.main-wth-widget .temperature figcaption sup{
   font-family: sans-serif;
   font-size:medium;
}

.main-wth-widget .description{
    padding: 10px 0 30px;
}

.main-wth-widget ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.main-wth-widget li{
    background-color: #d77247;
    color: #fff;
    border-radius: 10px;
    padding: 20px 30px;
    font-weight: bold;
    font-size: small;
}

.main-wth-widget li i{
    font-size: 15px;
    display: block !important;
    margin: 20px 0;
}

/* .main-wth-widget li:nth-child(2){
    background-color: #b56291;
}

.main-wth-widget li:nth-child(3){
    background-color: #48567b;
} */





/* CONTENT - CATEGORY - PC */

.category-txt-line{
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    color: #131c30;
    margin-top: 70px ;
    user-select: none;
    width: 100%;
	position: relative;
}

#category-txt{
    font-size: 35px;
}

.category-txt-line span{
    position: relative;
	padding: 2px 20px;
	background-color:#ece1d2;
	z-index: 2;
	user-select: none;
	-webkit-user-select: none;
}

.category-txt-line::after{
    content: "";
	width: 60%;
	height: 2px;
	background-color: #979797;
	position: absolute;
	top:50%;
	left: 50%;
    transform: translateX(-50%);
}
               

.category-big-div{
    position: relative;
    width: 70vw ;
    margin: 0 auto;
}

.category-swiper-container{
    margin: 0 auto;
    margin-top: 25px;
    width: 90%;
    height: 290px;
    overflow: hidden ;
    padding: 10px;
}

.category-big-div .swiper-slide{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #da9d05;
    border-radius: 10px;
    

/* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
}

.category-big-div .swiper-slide img{
    width: 120px;
    user-select: none;
	-webkit-user-select: none;
}

/* .category-big-div .swiper-slide:hover{
    transform: translateY(-5px);
    box-shadow: 3px 3px 6px rgb(0,0,0,.3);
    transition: 0.3s ease;
}

.category-big-div .swiper-slide:active{
    transform: translateY(0px);
    box-shadow: none;
    transition: 0.08s ease;
} */



.category-swiper-container .swiper-slide a{
    width: 100%;
    height: 100%;
    text-decoration: none;
}



.category-swiper-container .category-info-sep-color1{
    background-color: #347189;
}

.category-swiper-container .category-info-sep-color2{
    background-color: #eb7768;
}

.category-swiper-container .category-info-sep-color3{
    background-color: #f5c667;
}

.category-swiper-container .category-info-sep-color4{
    background-color: #8dcbd0;
}

.category-swiper-container .category-info-sep-color5{
    background-color: #347189;
}

.category-swiper-container .category-info-sep-color6{
    background-color: #eb7768;
}

.category-swiper-container .category-info-sep-color7{
    background-color: #8dcbd0;
}

.category-swiper-container .category-info-sep-color8{
    background-color: #f5c667;
}

.category-swiper-container .category-info-sep-color9{
    background-color: #347189;
}

.category-swiper-container .category-info-sep-color10{
    background-color: #eb7768;
}

.category-swiper-container .category-info-sep-color11{
    background-color: #f5c667;
}

.category-swiper-container .category-info-sep-color12{
    background-color: #8dcbd0;
}

.category-swiper-container .category-info-sep-color13{
    background-color: #347189;
}

.category-swiper-container .category-info-sep-color14{
    background-color: #eb7768;
}


.category-swiper-container .swiper-slide .span-big-text{
    font-family: "Oswald", sans-serif;
    color: white;
    margin-top:10px;
    font-size: 24px;
    font-weight: 500;
}

.category-swiper-container .swiper-slide .span-small-text{
    font-family: "Oswald", sans-serif;
    margin-top:10px;
    color: white;
    font-size: 16px;
}



.category-big-div  .category-swiper-button-prev:after,
.category-swiper-button-next:after {
  display: none;
}

.category-swiper-button-next .fa-arrow-right{
    color: #FFF;
    padding: 15px;
    border-radius: 50%;
    background-color: #9e9e9e91;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: -5px;
    transition: .2s ease;
}

.category-navBtn{
    cursor: pointer;
}

.category-navBtn .fa-arrow-right:hover{
    background-color: #888888cc;
}

.category-swiper-button-prev .fa-arrow-left{
    color: #FFF;
    padding: 15px;
    border-radius: 50%;
    background-color: #9e9e9e91;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: -5px;
    transition: .2s ease-out;
}

.category-navBtn .fa-arrow-left:hover{
    background-color: #888888cc;
}


.category-big-div .swiper-pagination{
    position: absolute;
    bottom: -15px !important;
    z-index: 30;
}

.category-big-div .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    margin: 0 8px !important;
    border-radius: 50%;
    transition: 0.2s ease;
}


.category-big-div .swiper-pagination-bullet-active {
    background-color: #FFF !important;
    padding: 0px 11px;
    border-radius: 3px;
}






/* CONTENT - STORE - PC */
.store-big-div{
    position: relative;
    width: 70vw ;
    margin: 0 auto;
}

.store-txt-line{
    text-align: left;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    color: #131c30;
    margin: 0 auto;
    margin-top: 70px ;
    user-select: none;
    width: 62%;
}

#store-txt{
    font-size: 35px;
}

.store-big-div .swiper-container{
    margin: 0 auto;
    margin-top: 25px;
    width: 90%;
    height: 100%;
    overflow: hidden ;
    padding: 10px;
}

.store-swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

/* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
}

.store-swiper-slide {
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-color: #1f4e48;
    border-radius: 15px;
}

.store-swiper-slide .store-info-upper{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.store-swiper-slide .store-info-upper .store-name{
    padding: 0 20px;
    text-align: left;
    text-decoration: none;
    font-size: 35px;
    font-family: "oswald","san-seriff";
    font-weight: 500;
    color: #fff;
}

.store-swiper-slide .store-info-upper img{
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 200px;
}

.store-swiper-slide .store-info-lower{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    color: #fff;
    font-family: "roboto","san-seriff";
    font-size: 15px;
    padding: 20px;
}

.store-swiper-slide .store-info-lower .store-payment i{
    margin: 0 5px;
    color: #fff;
}

.store-swiper-slide .store-info-lower .rate-and-like{
    display: flex;
    justify-content: space-between;
}

.store-swiper-slide .store-info-lower .rate-and-like .fa-star{
    color: #f6cd57;
}

.store-swiper-slide .store-info-lower .rate-and-like .fa-heart{
    color: #d77247;
}


.store-big-div  .swiper-button-prev:after,
.swiper-button-next:after {
    display: none;
}


.store-big-div .swiper-button-next .fa-arrow-right{
    color: #FFF;
    padding: 15px;
    border-radius: 50%;
    background-color: #9e9e9e91;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: -15px;
    transition: .2s ease-out;
}

.store-big-div .swiper-button-next .fa-arrow-right:hover{
    background-color: #888888cc;
}

.store-big-div .swiper-button-prev .fa-arrow-left{
    color: #FFF;
    padding: 15px;
    border-radius: 50%;
    background-color: #9e9e9e91;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: -15px;
    transition: .2s ease-out;
}

.store-big-div .swiper-button-prev .fa-arrow-left:hover{
    background-color: #888888cc;
}


.store-big-div .swiper-pagination{
    position: absolute;
    bottom: -15px !important;
    z-index: 30;
}

.store-big-div .swiper-pagination-bullet {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 0 7px !important;
    border-radius: 50%;
    transition: 0.2s ease;
}


.store-big-div .swiper-pagination-bullet-active {
    background-color: #FFF !important;
    padding: 0px 11px;
    border-radius: 3px;
}



/* PRODUCT */
.best-sale-product{
    width: 100%;
    margin: 90px 0;
}

.best-sale-product .best-sale-product-txt{
    text-align: left;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    color: #131c30;
    margin: 0 auto;
    margin-top: 70px ;
    user-select: none;
    width: 64%;
    font-size: 35px;
}

.product-view-all{
    width: 82%;
    text-align: right;
    margin: 15px 0;
}

.product-view-all a{
    text-decoration: none;
    color: #1f4e48;
    font-family: "roboto", "san-seriff";
    font-size: 15px;
}

.product-view-all .fa-play{
    font-size: 10px;
    margin-left: 5px;
}





.all-product-container{
    width: 65%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 17px;
}

.product-container{
    background-color: #ffffff;
    width: 100%;
    border-radius: 10px;
}

.product-container a{
    text-decoration: none;
    color: #131c30;
}


.product-container a img{
    width: 100%;
    height: 8vw;
    border-radius: 10px 10px 0 0;
}

.product-container .product-info{
    font-family: "roboto", "san-seriff";
    padding: 15px;
}

.product-container .product-info .product-info-upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-container .product-info .product-info-upper-left .product-name{
    font-size: 15px;
}

.product-container .product-info .product-info-upper-left .product-store-name{
    display: block;
    font-family: "oswald","san-seriff";
    font-size: 18px;
    font-weight: 500;
}


.product-container .product-info .product-info-upper-right{
    background-color: #479cbd41;
    padding: 7px 20px;
    border-radius: 7px;
    font-size: 14px;
    cursor: pointer;
}

.product-container .product-info .product-info-upper-right:hover{
    background-color: #479cbd7c;
    transition: 0.2s ease;
}



.product-container .product-info-lower{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.product-container .product-info-lower .add-cart-btn-container .add-to-cart-btn{
    /* border: 1px solid black; */
    background-color: rgb(240, 240, 240);
    padding: 8px 10px;
    border-radius: 9px;
    font-size: 12px;
    color:#131c30;
}

.product-container .product-info-lower .add-cart-btn-container .add-to-cart-btn:hover{
    background-color: #d77247;
    color: #fff;
    /* border: 1px solid white; */
    transition: 0.3s ease;
}




/* FOOTER------------------------------------------------ */
.footer{
    width: 100%;
    background-color: #131c30;
    padding-bottom: 20px;
}

.footer-backtotop-btn{
    width: 100%;
    border-top: 1px solid #131c302d;
    background-color: #347189;
    padding: 20px 0;
    text-align: center;
}

.footer-backtotop-btn a{
    text-decoration: none;
    font-size: 20px;
    font-family: "oswald","san-seriff";
    color: #fff;
}

.footer-mid-part{
    width: 100%;
    text-align: center;
    color: #FFF;
    font-family: "Roboto","san-seriff";
    padding: 20px 0;
}

.footer-mid-part .footer-txt-big{
    display: block;
    font-family: "oswald","san-seriff";
    font-size: 20px;
    font-weight: 700;
    color: #347189;
}

.footer-mid-part .footer-txt-small{
    font-size: 13px;
    opacity: 30%;
}

.footer-bot-part{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bot-part a{
    margin-right: 30px;
}

.footer-bot-part select{
    margin: 0 5px;
    padding: 8px 16px;
    border-radius: 5px;
}











/*  RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE  RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE */


/* RESPONESIVE RIENG CHO MAN HINH MAY TINH */

/* weather - pc */

@media only screen and (max-width: 2170px){

    .main-wth-widget .result{
        font-weight: 500;
        font-size: 20px;
        gap: 0px;
    }
    
    .main-wth-widget .temperature img{
        width: 110px;
    }
    
    .main-wth-widget .temperature figcaption{
        text-align: center;
        font-size: 25px;
    }
    
    .main-wth-widget .description{
        padding: 10px 0 30px;
    }
    
    .main-wth-widget ul{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    
    .main-wth-widget li{
        color: #fff;
        border-radius: 10px;
        padding: 20px 30px;
        font-weight: bold;
        font-size: small;
    }
    
    .main-wth-widget li i{
        font-size: 15px;
        display: block !important;
        margin: 20px 0;
    }
}

@media only screen and (max-width: 2055px){

    .main-wth-widget .result{
        font-weight: 300;
        font-size: 20px;
        gap: 0px;
    }
    
    .main-wth-widget .temperature img{
        width: 110px;
    }
    
    .main-wth-widget .temperature figcaption{
        text-align: center;
        font-size: 25px;
    }
    
    .main-wth-widget .description{
        padding: 10px 0 30px;
    }
    
    .main-wth-widget ul{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    
    .main-wth-widget li{
        padding: 10px 20px;
        
    }
}

@media only screen and (max-width: 1915px){

    .main-wth-widget form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
    }

    .main-wth-widget .temperature img{
        width: 120px;
    }

    .main-wth-widget .temperature figcaption{
        font-size: 45px;
    }

    .main-wth-widget form .city-name{
        font-size: 25px;
        margin-top: 0px;
    }

    .main-wth-widget form figure .flag-logo{
        position: absolute;
        top: 45px;
        left:50%;
        transform: translateX(-50%);
    }


    .main-wth-widget .result ul{
        display: none;
    }
}

@media only screen and (max-width: 1510px){

    .main-wth-widget{
      display: none;
    }
    .advertisement-slide-container{
        width: 75vw;
        height: 30vw;
    }
}


/* DANH RIENG CHO PHAN PRODUCTS */
@media only screen and (max-width: 1955px){

    .all-product-container{
        width: 63%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .product-container .product-info .product-info-upper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .product-container .product-info .product-info-upper-left .product-name{
        font-size: 14px;
    }
    
    .product-container .product-info .product-info-upper-left .product-store-name{
        font-size: 16px;
    }
    
    
    .product-container .product-info .product-info-upper-right{
        margin-top: 7px;
        font-size: 12px;
    }
   
    
    .product-container .product-info-lower{
        margin-top: 10px;
    }
    
    .product-container .product-info-lower .add-cart-btn-container .add-to-cart-btn{
        border-radius: 50%;
        font-size: 12px;
    }

    .product-container .product-info-lower .add-cart-btn-container .add-to-cart-btn span{
        display: none;
    }
}


@media only screen and (min-width: 1435px) and (max-width: 1920px){
/* CATEGORY */

    .category-swiper-container .swiper-slide img{
        width: 110px;
    }
    .category-swiper-container .swiper-slide .span-big-text{
        margin-top:10px;
        font-size: 22px;
        font-weight: 500;
    }
    
    .category-swiper-container .swiper-slide .span-small-text{
        font-family: "Oswald", sans-serif;
        margin-top:10px;
        font-size: 13px;
    }

/* STORE */

    .store-swiper-slide .store-info-upper{
        gap:15px;
    }
    
    .store-swiper-slide .store-info-upper img{
        width: 100%;
        height: 200px;
    }
    
    .store-swiper-slide .store-info-lower{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: left;
        color: #fff;
        font-family: "roboto","san-seriff";
        font-size: 15px;
    }    


}


/* RESPONESIVE RIENG CHO iPad Pro tro len */
@media only screen and (min-width: 1024px) and (max-width: 1435px){

/* HEADER */

.search-bar{
    position: absolute;
    width: 45%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap:0;
}
 
/* CONTENT - ADVERTISEMENT - iPadPro Tro Len */

.advertisement-slide-container{
    width: 95vw;
    height: 40vw;
}

/* CONTENT - CATEGORY - iPadPro Tro Len */

#category-txt{
    font-size: 30px;
}

.category-big-div{
    position: relative;
    width: 90vw ;
    margin: 0 auto;
}

.category-swiper-container {
    margin: 0 auto;
    margin-top: 25px;
    width: 90%;
    height: 260px;
    overflow: hidden ;
    padding: 10px;

}

.category-swiper-container .swiper-slide img{
    width: 100px;
}

.category-swiper-container .swiper-slide .span-big-text{
    margin-top:10px;
    font-size: 22px;
    font-weight: 500;
}

.category-swiper-container .swiper-slide .span-small-text{
    font-family: "Oswald", sans-serif;
    margin-top:10px;
    font-size: 13px;
}

/* CONTENT - STORE - iPadPro Tro Len */


.store-big-div{
    width: 90vw ;
    margin: 0 auto;
}

.store-txt-line{
    width: 80%;
}

#store-txt{
    font-size: 30px;
}

/* CONTENT - BEST SELLER - iPadPro Tro Len */

.best-sale-product{
    margin: 70px 0;
}

.best-sale-product .best-sale-product-txt{
    margin-top: 70px ;
    width: 80%;
}

.product-view-all{
    width: 90%;
    text-align: right;
}


.all-product-container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}


.product-container a img{
    height: 13vw;
}

}



/*  RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE  RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE */


/* danh cho iPad Pro Tro Xuong*/
@media only screen and (min-width: 740px) and (max-width: 1023px){
    body{
        overflow-x: hidden;
    }
/* HEADER VA TOP NAVIGATION BAR - iPad Pro Tro Xuong */

.corner-logo{
    width: 110px;
}

.search-bar{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    display: flex;
    align-items: center;
    gap:0;
}

.search-bar input{
    padding: 12px 20px;
}

.search-bar-icon{
    color:black;
    font-size: 20px;
    padding: 9px;
    border: none;
    position: absolute;
    top: 1px;
    right: 0;
}


.header-icon-btn li .user-menu-container{
    top: 37px;
    right: -25px;
}


.header-icon-btn .user-menu-container {
    top: 33px;
    right: -20px;
}


/* CONTENT CONTAINER - iPad Pro Tro Xuong */

.content{
    width: 100%;
    height: 100svh;
    padding: 20px 0;
}

/* CONTENT - ADVERTISEMENT - iPadPro Tro Xuong */

.advertisement-slide-container{
    width: 95vw;
    height: 45vw;
}


/* CONTENT - CATEGORY - iPadPro Tro Xuong */

.category-txt-line{
    margin-top: 40px;
}

#category-txt{
    font-size: 25px;
    margin-bottom: 20px;
}

.category-big-div{
    position: relative;
    width: 95vw ;
    margin: 0 auto;
}

.category-swiper-container {
    margin: 0 auto;
    margin-top: 25px;
    width: 90%;
    height: 210px;
    overflow: hidden ;
    padding: 10px;

}

.category-swiper-container .swiper-slide img{
    width: 50px;
}

.category-swiper-container .swiper-slide .span-big-text{
    margin-top:10px;
    font-size: 17px;
    font-weight: 500;
}

.category-swiper-container .swiper-slide .span-small-text{
    font-family: "Oswald", sans-serif;
    margin-top:10px;
    font-size: 11px;
}

/* CONTENT - STORE - iPadPro Tro Xuong */

.store-big-div{
    position: relative;
    width: 95vw ;
    margin: 0 auto;
}

.store-txt-line{
    width: 80%;
}

#store-txt{
    font-size: 30px;
}

.store-swiper-slide .store-info-upper a{
    font-size: 30px;
}

.store-swiper-slide .store-info-upper img{
    width: 100%;
    height: 200px;
}

.store-swiper-slide .store-info-lower{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    color: #fff;
    font-family: "roboto","san-seriff";
    font-size: 15px;
}


/*CONTENT - BEST SELLER - iPadPro Tro Xuong */

.best-sale-product{
    margin: 70px 0;
}

.best-sale-product .best-sale-product-txt{
    margin-top: 70px ;
    width: 80%;
}

.product-view-all{
    width: 92%;
    text-align: right;
}


.all-product-container{
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}


.product-container a img{
    height: 15vw;
}



}
/* danh cho mobile */
@media  screen and (max-width: 740px ){

    .corner-logo{
        width: 100px;
        position: absolute;
        left: 25px;
        top: 15px;
        order: 1;
    }

    .search-bar{
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        width: 90%;
        display: flex;
        align-items: center;
        order:3;
        bottom: 15px;
    }

    .search-bar input{
        padding: 12px 20px;
        width: 100%;
        border: none;
        border-radius: 8px;
        font-size: 15px;
        position: relative;
    }

    .search-bar-icon{
        color:black;
        font-size: 19px;
        padding: 12px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .header .nav-bar{
        display: flex;
        align-items:center;
        padding: 60px 0px;
        position: relative;
        width: 100%;
    }

    .header-icon-btn{
        position: absolute;
        right: 25px;
        top: 20px;
        display: flex;
        flex-direction: row;
        gap: 25px;
        user-select: none;
        -webkit-user-select: none;
        order: 2;
    }


    .header-icon-btn .user-menu-container{
        width: 100%;
        height: 100svh;
        background-color: #ffffff;
        color: #fff;
        position: fixed;
        top:0;
        right:0;
        bottom: 0;
        z-index: 99;
        border:none;
        border-radius: 0px;
        animation: MoveInRight 0.4s;
    }

    .header-icon-btn .user-menu-container #arrow-icon{
        color: black;
    }

    .header-icon-btn .user-menu-container .log-out-btn{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }



    .header .head-address-bar{
        padding: 15px 20px;
        box-shadow: none;
        font-size: 14px;
    }

    .header .head-address-bar .left-address p {
        font-size: 14px;
    }

    
    .header .head-address-bar .fa-solid{
        color: black;
        font-size: 20px;
    }
    
    

 /*CONTENT CONTAINER - PHONE */

.content{
    width: 100%;
    height: 100svh;
    padding-top: 10px;
}

/*CONTENT - ADVERTISEMENT - PHONE*/

.advertisement-slide-container{
    width: 95vw;
    height: 45vw;
    margin-top: 0px;
}

.myAdsSwiper{
    /* box-shadow: 1px 1px 3px rgb(0,0,0,.3); */
    box-shadow: none;
}

.ads-swiper-button-next,
.ads-swiper-button-prev{
    display: none;
}

/* CONTENT - CATEGORY - PHONE */
.category-txt-line{
    display: none;
}

.category-big-div{
    position: relative;
    width: 100% ;
    margin: 0 auto;
}

.category-swiper-container {
    margin: 0 auto;
    margin-top: 0px;
    width: 100%;
    height: 110px;
    overflow: hidden ;
    padding: 10px;
}

.category-navBtn .fa-arrow-right{
    display: none;
}
.category-navBtn .fa-arrow-left{
    display: none;
}

.category-swiper-container .swiper-slide{
    border-radius: 10px;
    box-shadow: none;
}


.category-swiper-container .swiper-slide img{
    width: 45px;
}

.category-swiper-container .swiper-slide .span-big-text{
    margin-top:0px;
    font-size: 14px;
    font-weight: 300;
}

.category-swiper-container .swiper-slide .span-small-text{
    display: none;
}

.category-big-div .swiper-pagination{
    bottom: -10px !important;
}

.category-big-div .swiper-pagination-bullet {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 4px !important;
    border-radius: 50%;
}

.category-big-div .swiper-pagination-bullet-active{
    padding: 0px 8px;
    border-radius: 2px;
}

/* CONTENT - STORE - PHONE */


.store-big-div{
    position: relative;
    width: 100% ;
    margin: 0 auto
}

.store-txt-line{
    font-weight: 300;
    margin-top: 25px ;
    user-select: none;
    width: 93%;
}

#store-txt{
    font-size: 20px;
}

.store-big-div .swiper-container{
    margin: 0 auto;
    margin-top: 0px;
    width: 100%;
    overflow: hidden ;
    padding: 10px;
}

.store-swiper-slide .store-info-upper{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
}

.store-swiper-slide .store-info-upper .store-name{
    font-size: 20px;
}

.store-swiper-slide .store-info-upper img{
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 230px;
}

.store-swiper-slide .store-info-lower{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    color: #fff;
    font-family: "roboto","san-seriff";
    font-size: 12px;
    padding: 10px 20px;
}

.store-navBtn .fa-arrow-right{
    display: none;
}
.store-navBtn .fa-arrow-left{
    display: none;
}


.store-swiper-slide .store-info-lower .store-payment i{
    margin: 0 5px;
    color: #fff;
}

.store-swiper-slide .store-info-lower .rate-and-like{
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

.store-swiper-slide .store-info-lower .rate-and-like i{
    color: #fff;
}

.store-big-div .swiper-pagination{
    position: absolute;
    bottom: -15px !important;
    z-index: 30;
}

.store-big-div .swiper-pagination-bullet {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 4px !important;
    border-radius: 50%;
}


.store-big-div .swiper-pagination-bullet-active {
    padding: 0px 8px;
    border-radius: 2px;
}

/* BEST SELLER PRODUCT */

.best-sale-product{
    margin: 40px 0;
}

.best-sale-product .best-sale-product-txt{
    margin-top: 40px ;
    width: 95%;
    font-weight: 300;
    font-size: 20px;
}

.product-view-all{
    width: 98%;
    text-align: right;
    font-size: 12px;
}


.all-product-container{
    width: 97%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 9px;
}

.product-container .product-info{
    font-family: "roboto", "san-seriff";
    padding: 10px;
}

.product-container .product-info .product-info-upper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-container .product-info .product-info-upper-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.product-container .product-info .product-info-upper-left .product-name{
    font-size: 13px;
}

.product-container .product-info .product-info-upper-left .product-store-name{
    font-size: 14px;
}

.product-info-upper-right{
    display: none;
}


.product-container a img{
    height: 35vw;
}

.product-container .product-info-lower{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.product-container .product-info-lower .add-cart-btn-container .add-to-cart-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    padding: 10px 15px;
    border-radius: 9px;
    font-size: 10px;
    color:#131c30;
}

.product-container .product-info-lower .add-cart-btn-container .add-to-cart-btn span{
    display: block;
    margin-left: 5px;
}

/* FOOTER------------------------------------------------ */

.footer .footer-backtotop-btn a{
    font-size: 20px;
    font-weight: 300;
}

.footer-mid-part .footer-txt-big{
    font-size: 18px;
}

.footer-mid-part .footer-txt-small{
    font-size: 12px;
    opacity: 50%;
}

.footer-bot-part a img{
    width: 80px;
}

.footer-bot-part select{
    display: none;
}

}

