@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
    /* padding: 0 50px; */
    background-color: rgb(236, 236, 215);
    min-width: 700px;
    height: 100svh;
}

/* PHAN HEADER --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.header{
    width: 100%;
    padding: 0
}

.header .nav-bar{
    display: flex;
    background-color:#131c30;
    align-items: center;
    padding: 40px 0px;
    width: 100%;
    position: relative;
    min-width: 960px;
}


.corner-logo{
    width: 120px;
    position: absolute;
    left: 40px;
    top: 20px;
}

.search-bar{
    position: absolute;
    left: 23%;
    width: 50%;
    display: flex;
    align-items: center;
    gap:0;
}


.search-bar input{
    padding: 12px 20px;
    width: 100%;
    border: none;
    border-radius: 8px 0 0 8px;
    font-size: 14px;
}


.search-bar-icon{
    top: 0px;
    right:10px;
    color:black;
    font-size: 20px;
    padding: 10px;
    border-radius: 0 8px 8px 0;
    background-color:#eca900;

}


.header-icon-btn{
    position: absolute;
    right: 40px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.header-icon-btn i{
    font-size: 22px;
    color: #ffb701;
}

.header-icon-btn i:hover{
    font-size: 22px;
    color: #ca9100;
}

.header .head-address-bar{
    min-width: 960px;
    padding: 15px 20px;
    background-color: #eca900;
    display: flex;
    position: relative;
    font-family: Helvetica, sans-serif;
    align-items: center;
    box-shadow: 2px 2px 7px rgb(0,0,0,.5);
}

.header .head-address-bar .fa-location-dot{
    color: black;
    margin-right: 10px;
    margin-left: 20px;
    font-size: 23px;
}

.header .head-address-bar .change-address-btn{
    color: black;
    position: absolute;
    right: 40px;
    top: 15px;
    font-size: 20px;
}



