@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
    padding: 0 50px;
    background-color: rgb(236, 236, 215);
    min-width: 700px;
    overflow: scroll;
}

.header .nav-bar{
    display: flex;
    background-color:#131b2e;
    align-items: center;
    gap: 50px;
    padding: 40px 0;
    width: 100%;
    position: relative;
    min-width: 960px;
}


.corner-logo{
    width: 120px;
    position: absolute;
    left: 40px;
    top: 20px;
}

.search-bar{
    position: absolute;
    left: 23%;
    width: 50%;
}

.search-bar input{
    padding: 12px 20px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 14px;
}

.search-bar-icon{
    position: absolute;
    top: 10px;
    right: 15px;
    color:black;
    font-size: 20px;
}

.header-icon-btn{
    position: absolute;
    right: 40px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.header-icon-btn i{
    font-size: 22px;
    color: #ffb701;
}

.header-icon-btn i:hover{
    font-size: 22px;
    color: #ca9100;
}