@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	height: 100vh;
	background-color: rgb(2, 2, 26);
	font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}

#corner-logo{
	position: absolute;
	top:20px;
	left:20px;
}

.signin{
	padding: 90px 75px;
	background-color: #fff;
	width: 100%;
	max-width: 500px;
	border-radius: 20px;
}

.signin-heading{
	font-size: 30px;
	font-weight: 600;
	color: #373941;
	margin-bottom: 35px;
	text-align: center;
}

.signin-label{
	display: block;
	margin-bottom: 10px;
}

.signin-input{
	display: block;
	width: 100%;
	padding:15px 10px;
	border-radius: 10px;
	border: 1px solid black;
}

.account-input{
	margin-bottom: 25px;
}

.signin-btn{
	display: block;
	margin: 25px auto;
	padding: 15px 25px;
	border-radius: 10px;
	border: none;
	background-color: #512da8;
	cursor: pointer;
	color: white;
}

.signin-btn:hover{
	background-color: #5f36bd;
}


.signin-link-or{
	text-align: center;
	position: relative;
}

.signin-link-or span{
	padding: 2px 20px;
	background-color: #fff;
	position: relative;
	z-index: 2;
}

.signin-link-or:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #9e9e9e;
	top:50%;
	left:0;
}

.signin-social-icon-link{
	text-decoration: none;
	color: black;
}

.social-icon{
	text-align: center;
	margin: 20px auto;
}

.social-icon a i span{
	font-family: Helvetica, sans-serif;
}

.social-icon .signin-social-icon{
	border: 1px solid black;
	border-radius: 10px;
	margin: 0 5px;
}

.social-icon .signin-social-icon:hover{
	background-color: #eeecec;
}

.social-icon .fa-facebook{
	padding: 10px 15px;
	color: #0766FF;
}

.social-icon .fa-facebook span{
	color:black;
}

.social-icon .fa-apple{
	padding: 10px 30px;
}

.signup{
	font-family: Helvetica, sans-serif;
	text-align: center;
	padding-top: 20px;
}

.signup a{
	text-decoration: none;
}











.footer{
	color: #fff;
	position: absolute;
	bottom: 0;
}