body {
    margin: 0; 
    overflow: hidden; 
}

#map {
    width: 100%;
    height: 100vh;
    z-index: 0;
}

#header{
    background-color: #10a0b3;
    z-index: 1;
    position:absolute;
    width: 100%;
}

nav{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}

.container{
    max-width: 98%;
    margin: 0 auto;
}
#logo{
    padding: 10px 20px;
}
#corner-logo{
    width: 120px;
    height: auto;
}

#search-input{
    width:50%;
    padding: 15px 25px;
    border-radius: 100px;
    border:1px solid #131b2e;
}

#clear-button{
    display: none;
}

#main-menu{
    display: flex;
    list-style: none;
    padding:0; 
    margin:0;
    z-index: 2;
    padding-left:20px;
}

#main-menu li{
    position: relative;
    padding:10px 20px;
    cursor:pointer;
}
#main-menu li:hover{
    background-color: #f0ece5;
    border-radius: 100px;
    transition: 0.2s ease-in-out;
}

#main-menu li:hover>a i{
    color:#131b2e;
}

#main-menu li a{
    font-family: Helvetica;
    font-size: 14px;
    text-decoration: none;
    display:block;
}

#main-menu li i{
    font-size: 25px;
    color: #ffffff;
}

/* #main-menu li a:hover>i{
    font-size: 25px;
    color:#ffb70188;
} */
/* icon của phần sub-menu */
#main-menu .sub-menu i.fa-building,
#main-menu .sub-menu i.fa-user,
#main-menu .sub-menu i.fa-key,
#main-menu .sub-menu i.fa-cash-register,
#main-menu .sub-menu i.fa-clock,
#main-menu .sub-menu i.fa-sun,
#main-menu .sub-menu i.fa-moon,
#main-menu .sub-menu i.fa-gear,
#main-menu .sub-menu i.fa-flag,
#main-menu .sub-menu i.fa-handshake-angle,
#main-menu .sub-menu i.fa-right-from-bracket,
#main-menu .sub-menu i.fa-check{
    color: black;
    padding-right: 10px;
    font-size: 20px;
}

#main-menu ul.sub-menu{
    position:absolute;
    right:-5px;
    margin-top:10px;
    background-color: #f0ece5;
    list-style: none;
    width:200px;
    border: 1px solid #3f3e3e;
    border-radius: 13px;
    display:none;
    padding-left:0px;
    box-shadow: 4px 4px 6px rgb(0,0,0,0.3);
}

#main-menu ul.sub-menu li{
    padding:10px;
}

#main-menu li:hover>ul.sub-menu{
    display:block;
}

#main-menu ul.sub-menu a{
    padding:5px 15px;
    color:black;
}

#main-menu ul.sub-menu li:hover{
    background-color: #615d5d25;
    background-size: cover;
    border-radius: 5px;
}

.address{   
    background-color: #f7f5ee;
    box-shadow: 5px 5px 7px rgb(0,0,0,0.4);
    height: 50px;
    width:100%;
}

.address #address-container .sub-menu li{
    padding:20px;
    position:relative;
    list-style: none;
}

.address #address-container .sub-menu li:hover{
    background-color:#615d5d25;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
}
.address #address-container{
    display:flex;
    width:100%;
    list-style:none;
    justify-content: space-between;
    align-items: center;
}

.address #address-container .sub-menu{
    position:absolute;
    right:8px;
    width:200px;
    background-color:#110a7f;
    border: 1px solid #3f3e3e;
    border-radius: 15px;
    padding:0px;
    display:none;
    cursor: pointer;

}

.address #address-container li:hover>.sub-menu{
    display:block;
}
.address #address-container #nav-icon{
    margin-right:20px;
    padding: 0 15px;;
}

.address #address-container a i{
    font-size: 30px;
    color:rgb(0, 0, 0);
}

.address #address-container .sub-menu li a{
    text-decoration-line: none;
    color: black;
    font-family: Helvetica;
    font-size:14px;
    margin:0;
}

.address #address-container #test-address{
    font-family:Helvetica;
    font-size: 17px;
    margin:0;
}

.address #address-container .sub-menu i.fa-truck,
.address #address-container .sub-menu i.fa-shuffle{
    color:black;
    padding-right: 10px;
    font-size: 20px;
}

#view-btn-container{
    position:absolute;
    bottom: 30px;
    right: 90px;
    height:auto;
    padding: 18px 30px;
    background-color: #f7f5ee;
    list-style: none;
    border-radius: 25px;
    box-shadow: 4px 4px 4px rgb(0,0,0,0.5)
}

#view-btn-container li{
    display:block;
    position:relative;
    text-align: center;
}

#view-btn-container #view-map-sub-menu{
    position: absolute;
    bottom: -20px;
    right:-84px;
    background-color: #fff5e2;
    display:none;
    width: 500px;
    padding:15px 15px; 
    border: 1px solid #131b2e;
    border-radius: 30px;
    box-shadow: 4px 4px 6px rgb(0,0,0,0.3);
    cursor:pointer;
}

@keyframes MoveInBottom{
    0%{
        transform: translateY(700px);
    }
    5%{
        transform: translateY(680px);
    }
    10%{
        transform: translateY(660px);
    }
    15%{
        transform: translateY(640px);
    }
    20%{
        transform: translateY(620px);
    }
    25%{
        transform: translateY(600px);
    }
    30%{
        transform: translateY(580px);
    }
    35%{
        transform: translateY(560px);
    }
    40%{
        transform: translateY(540px);
    }
    45%{
        transform: translateY(520px);
    }
    50%{
        transform: translateY(500px);
    }
    55%{
        transform: translateY(480px);
    }
    60%{
        transform: translateY(440px);
    }
    65%{
        transform: translateY(420px);
    }
    70%{
        transform: translateY(400px);
    }
    75%{
        transform: translateY(370px);
    }
    80%{
        transform: translateY(250px);
    }
    85%{
        transform: translateY(200px);
    }
    90%{
        transform: translateY(150px);
    }
    95%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
    }
}
#view-btn-container li:hover>#view-map-sub-menu{
    display:block;
    animation: MoveInBottom 0.3s 0.08s;
    animation-fill-mode: backwards;
}

#view-btn-container #view-map-sub-menu li{
    padding:25px 30px;
    border: 1px solid rgba(0, 0, 0, 0.329);
    background-image: url("flat-geometric-background_23-2148957201.jpg");
    background-size: cover;
    border-radius:20px;
    margin-bottom: 10px;
}
#view-btn-container #view-map-sub-menu li:last-child{
    margin-bottom: 0;
}

#view-btn-container #view-map-sub-menu li:hover{
    transform: translateY(-4px);
    box-shadow: 5px 5px 8px rgb(0,0,0,0.3);
    transition: 0.1s ease-in;
}
#view-btn-container #view-map-sub-menu li:active{
    transform: translateY(-1px);
    box-shadow:3px 3px 3px rgb(0,0,0,0.4)
}

#view-btn-container .btn-link{
    text-decoration-line: none;
    color: black;
    font-family: Helvetica;
    text-transform: uppercase;
    font-size: 14px;
}

#view-btn-container #view-map-sub-menu a{
    /* text-align: center; */
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-weight: 700;
    outline: none;
    font-family: Helvetica;
}
#view-btn-container #view-map-sub-menu a i{
    color: black;
    padding-right: 10px;
    font-size: 20px;
}












