body {
    margin: 0; 
    overflow: hidden; 
}

#map {
    width: 100%;
    height: 90vh;
    z-index: 0;
}

#header{
    background-color: #131b2e;
}

nav{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}

.container{
    max-width: 95%;
    margin: 0 auto;
}
#logo{
    padding: 10px 20px;
}
#corner-logo{
    width: 120px;
    height: auto;
}

#search-input{
    width:700px;
    padding: 15px 20px;
    border-radius: 100px;
    border:none;
}
#clear-button{
    display: none;
}

#main-menu{
    display: flex;
    list-style: none;
    padding:0; 
    z-index: 1;
}

#main-menu li{
    position: relative;
    padding:10px;
}

#main-menu li a{
    font-family: Helvetica;
    font-size: 14px;
    color:#fff;
    text-decoration: none;
    display:block;
    padding: 10px 20px;
}

#main-menu li i{
    font-size: 25px;
    color:#ffb701;
}
#main-menu li i:hover{
    font-size: 25px;
    color:#ffb7019c;
}
#main-menu li i:active{
    font-size: 25px;
    color:#eaeef1;
}
/* icon của phần sub-menu */
#main-menu .sub-menu i.fa-building,
#main-menu .sub-menu i.fa-user,
#main-menu .sub-menu i.fa-key,
#main-menu .sub-menu i.fa-cash-register,
#main-menu .sub-menu i.fa-clock,
#main-menu .sub-menu i.fa-sun,
#main-menu .sub-menu i.fa-moon,
#main-menu .sub-menu i.fa-gear,
#main-menu .sub-menu i.fa-flag,
#main-menu .sub-menu i.fa-handshake-angle,
#main-menu .sub-menu i.fa-right-from-bracket,
#main-menu .sub-menu i.fa-check{
    color: black;
    padding-right: 10px;
    font-size: 20px;
}

#main-menu ul.sub-menu{
    position:absolute;
    right:0px;
    background-color: #f0ece5;
    list-style: none;
    width:200px;
    border: 1px solid #3f3e3e;
    border-radius: 13px;
    display:none;
    padding-left:0px;
    box-shadow: 4px 4px 6px rgb(0,0,0,0.3);
}

#main-menu li:hover>ul.sub-menu{
    display:block;
}

#main-menu ul.sub-menu a{
    padding:5px 15px;
    color:black;
}

#main-menu ul.sub-menu li:hover{
    background-color: #615d5d25;
    background-size: cover;
    border-radius: 5px;
}


#address{
    background-color: #ffb701;
    height: 50px;
    box-shadow: 5px 5px 7px rgb(0,0,0,0.4);
}
#test-address{
    font-size: 15px;
    font-family: Helvetica;
    padding: 10px 20px;
}







