body, html {
    height:100%;
    margin:0;
    line-height: inherit;
    font-family: Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    display:flex;
    align-items: center;
}

#wrapper{
    display: flex;
    gap:30px;
    height: 97%; 
    align-items: center;
    padding: 10px 10px;
}

/* PHAN TOP---------------------------------------------------------------------------------- */

#left-content{
    width: 500px;
    height: 100%;
    display: flex;
    flex-shrink: 0;
    background-color: rgb(128, 109, 109);
}

#left-container{
    height: 100%;
    width: 500px;
}

#left-container-top{
    border:4px solid rgb(243, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#left-container-top-header{
    display:flex;
    flex-direction: column;
}
#left-container-top-header-logo{
    display:flex;
}
#left-container-top-category-container{
    display: flex;
    overflow-x:auto;
}

/* PHAN MIDDLE ----------------------------------------------------------------------------*/

#left-container-mid{
    border:4px solid green;
    overflow-y: hidden;
}

#left-container-mid .left-container-mid-shop{
    display:flex;
    justify-items: center;
    align-items: center;
    gap:25px;
}

#left-container-bot{
    border:4px solid blue;
}

#left-container-bot-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    justify-items: center;
    padding:0;
}



