body{
	background-image: url('fixed big background.jpeg');
	background-position: top;
	background-size: cover;
	background-repeat: none;
}

img{
	margin-left: 30px;
}

.form-container{
	background-image: url('login pad.jpg');
	background-size:cover;
	border-radius: 45px;
	box-sizing: border-box;
	padding:20px;
	padding-bottom: 50px;
	width: 560px;
	height: 650px;
	margin: 0 auto;
}

#account-name{
	position:relative;
	top:9px;
	left: 90px;
	font-family: Avenir Next;
	font-size: 15px;
}

#password{
	position:relative;
	top:9px;
	left: 90px;
	font-family: Avenir Next;
	font-size: 15px;
}

#mail{
	position:relative;
	top:9px;
	left: 90px;
	font-family: Avenir Next;
	font-size: 15px;
}

#phone-number{
	position:relative;
	top:9px;
	left: 90px;
	font-family: Avenir Next;
	font-size: 15px;
}

#address{
	position:relative;
	top:9px;
	left: 90px;
	font-family: Avenir Next;
	font-size: 15px;
}


div input{
	width:300px;
	background:#fff7e6;
	border: none;
	margin-top: 14px;
	margin-bottom:20px;
	margin-left: 70px;
	padding-bottom:15px;
	padding-top:15px;
	padding-left:10px;
	border-radius:9px;
	box-shadow: 3px 3px 3px #595757;
	font-family: Avenir Next;
}

::placeholder{
	position:relative;
	opacity: 40%;
	font-size: 12px;
	left: 10px;
}



#mabuudien{
	width: 95px;
}
#diachi{
	margin-left:5px;
}

#button{
	position:relative;
	top: 20px;
	left: 180px;
	width:150px;
	background:#fccf38;
	border: none;
	padding-bottom:15px;
	padding-top:15px;
	padding-left:px;
	border-radius:9px;
	box-shadow: 3px 3px 3px #595757;
	font-family: Avenir Next;
}

#button:hover{
	position:relative;
	top: 20px;
	left: 180px;
	width:150px;
	background:#fff7e6;
	border: none;
	padding-bottom:15px;
	padding-top:15px;
	padding-left:px;
	border-radius:15px;	
	box-shadow: 3px 3px 3px #595757;
	font-family: Avenir Next;
	transition: 0.4s ease-in-out;
}

a{
	text-decoration: none;
	color: black;
	font-size:15px;
	font-family: Avenir Next;
}

a:hover{
	text-decoration: none;
	color: black;
	font-size:17px ;
	font-family: Avenir Next;
	transition: 0.2s ease-in-out;
}

#sign-up{
	position: relative;
	top: 65px;
	left: 170px;
}

#sign-up:hover{
	position: relative;
	top: 65px;
	left: 167px;
}

#resign-up{
	position: relative;
	top: 70px;
	left: 140px;
}

#resign-up:hover{
	position: relative;
	top: 70px;
	left: 136px;
}

footer{
	text-align: center;
	margin-top: 160px;
	font-family: courier;
	color: #444444;
	font-size:15px;
	text-transform: right;
}
